<!DOCTYPE html>
<html lang="en" prefix="og: https:://ogp.me/ns# fb: http://ogp.me/ns/fb#">

    {{ partial "head" . }}

    <body class="font-light font-sans leading-normal text-lg lg:text-2xl text-black">

        <div id="site">

            {{ partial "header" . }}

            <main>

                <section class="pb-8 pt-100">
                    <div class="container max-w-2xl mx-auto px-4 lg:px-0 text-left">
                        <h2 class="font-bold mb-10 text-5xl text-center">
                            In 2013 the City of San Diego <span class="text-blue-lighter">had an interesting opportunity</span>.
                        </h2>

                        <p class="mb-8">
                            In 2013 we worked with the Code for America Brigade in San Diego and the City Council Infrastructure Committee to improve the City’s Capital Improvement Site. The site was not very user-friendly and the map required a third-party plugin to be usable.
                        </p>

                        <p class="mb-8">
                            We used <strong>agile development</strong> principles to develop fast and iterate as often as possible. The project and all of its project management is <strong>open source</strong> and <strong>transparent</strong>. We reorganised the data and added small visualizations for a quick overview and removed terminology that citizens don’t understand. The information provided is more detailed and comprehensive than before.
                        </p>

                        <p class="italic mb-8">
                            The result was a nice and easy to use map and small visualizations. The new site has a clear focus on usability and helps citizen answer basic questions about Capital Improvement Projects.
                        </p>
                    </div>
                </section>

                <section class="bg-white-darker pb-8 pt-100">
                    <div class="container max-w-2xl mx-auto text-center px-4 lg:px-0">
                        <img src="img/jeff.jpg" alt="Jeff" class="rounded-full max-w-testimonial mb-8">
                        <p class="max-w-lg mb-8 mx-auto text-left">
                            Mila and I worked together on the CIP Civic Engagement App for the <strong>Council Infrastructure Committee</strong> with CM Mark Kersey. He proved himself to be an <strong>excellent and detail oriented</strong> developer with a strong grasp on both the fundamentals of iterative <strong>test driven development</strong> and automated deployment as well <strong>user centric design</strong>. He brings a broad range of skills in other areas to the table that would benefit any project or initiative. It was my pleasure to work with him and look forward to collaborating on other projects in the future.
                        </p>
                        <h3 class="font-bold text-blue-lighter text-lg mb-2">Jeffrey Johnson</h3>
                        <span class="block mb-8 mx-auto text-lg">Code for America Brigade Captain San Diego</span>
                    </div>
                </section>

                <section class="pb-8 pt-100">
                    <div class="container max-w-2xl mx-auto px-4 lg:px-0 text-left">
                            <h2 class="font-bold mb-10 text-5xl text-center">
                                <span class="text-blue-lighter uppercase">results</span>
                            </h2>

                            <ul class="mb-8 ml-8 pl-0t">
                                <li class="pl-0 lg:pl-8">Increase your audience engagement up to 30%</li>
                                <li class="pl-0 lg:pl-8">Increase the time spent on your site up to 100%</li>
                                <li class="pl-0 lg:pl-8">Effectively communicate your story with data</li>
                            </ul>

                            <p class="mb-8">
                                According to studies by infogram and D.C. Thomson data visualizations can increase the engagement of your audience.
                                <br>
                                The study showed a 15-30% increase in comments and shares. As well as a 60-100% increase in time spent on the site.
                            </p>

                            <p class="mb-8">
                                Increase audience engagement and time spent on your site will result in more donations and will spread your message more widely. Engagements in sharing your story via social media will increase your reach across your target audience.
                            </p>
                    </div>
                </section>

                <section class="bg-blue-darkest pb-8 pt-100">
                    <div class="container max-w-2xl mx-auto px-4 lg:px-0 text-left text-white">
                        <h2 class="font-bold mb-10 text-5xl text-center">Data Source Research</h2>
                        <p class="mb-8">
                            With 30 minutes spent looking over your cause together, we can find more sources of data you can use to reach the right people. After 30 minutes on the phone or Skype with me, you will:
                        </p>
                        <ul class="list-reset mb-8 ml-0 lg:ml-8 pl-0">
                            <li class="check pl-8">
                                Understand how data can help you reach more influencers
                            </li>
                            <li class="check pl-8">
                                Have a list of three or more places to find data
                            </li>
                            <li class="check pl-8">
                                Have a list of ideas how to improve your messaging
                            </li>
                        </ul>
                        <p class="mb-8 text-2xl">
                            We’ll have to move fast, of course, to get through all this in 30 minutes but don’t worry, I’ll keep us on track. To receive your meeting agenda and scheduling instructions, click the button.
                        </p>

                        <div class="modal">

                            <label for="free-call-modal">
                                <a class="bg-blue-lighter hover:bg-yellow block cursor-pointer font-black mx-auto px-12 py-8 text-center text-white tracking-wide underline uppercase w-2/3">
                                    Schedule a free call <span class="inline-block ml-4 no-underline">»</span>
                                </a>
                            </label>

                            <input class="hidden" id="free-call-modal" type="checkbox">

                            <div class="fixed pin bg-black-transparent invisible opacity-0 p-4 z-50" id="free-call-modal-calendly">
                                <div class="bg-white m-auto max-h-modal overflow-auto p-4 relative rounded-sm w-modal lg:w-4/5">

                                    <div class="close absolute cursor-pointer"></div>

                                    <h2 class="capitalize">Schedule Free Call</h2>

                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <section class="pb-8 pt-100">
                        <div class="container max-w-2xl mx-auto px-4 lg:px-0 text-left">
                            <h2 class="font-bold mb-10 text-5xl text-center">
                                <span class="text-blue-lighter">Ready to talk?</span>
                            </h2>

                            <p class="mb-8">
                                Are you ready to discuss a specific project?<br>
                                Get in touch and we will find out if there is a fit.<br>
                                Just to be sure. You are
                            </p>

                            <ul class="list-reset mb-8 ml-0 lg:ml-8 pl-0">
                                <li class="square pl-8">
                                    Understand how data can help you reach more influencers
                                </li>
                                <li class="square pl-8">
                                    Have a list of three or more places to find data
                                </li>
                                <li class="square pl-8">
                                    Have a list of ideas how to improve your messaging
                                </li>
                            </ul>

                            <p class="mb-8">
                                Is that you/your organization?
                            </p>


                            <form action="https://www.getdrip.com/forms/62178597/submissions" data-drip-embedded-form="62178597" method="post" target="_blank" data-drip-id="62178597">

                                <div class="flex flex-col lg:flex-row lg:flex-no-wrap">

                                    <div class="w-full lg:w-1/3 mr-8">
                                        <input class="border border-grey leading-normal p-2 rounded-sm shadow-inner w-full" name="fields[name]" placeholder="Your Name" type="text" value="">
                                    </div>

                                    <div class="w-full lg:w-1/3 mr-8">
                                        <input class="border border-grey leading-normal p-2 rounded-sm shadow-inner w-full" name="fields[email]" placeholder="Your email address" type="email" value="">
                                    </div>

                                    <div class="w-full lg:w-1/3">
                                        <input class="bg-blue-lighter hover:yellow cursor-pointer font-black leading-normal p-2 text-white uppercase w-full" name="subscribe" type="submit" value="Let's talk">
                                    </div>

                                </div>

                            </form>

                        </div>
                    </section>

            </main>

            {{ partial "footer" . }}

        </div>

    </body>

</html>