<footer class="bg-blue-darker">

    <div class="container mx-auto max-w-2xl py-4 text-white px-4 lg:px-0">

        <p class="text-sm">
            &copy; 2017 <a href="https://civicvision.de" class="text-blue-lighter hover:text-orange no-underline">Civic Vision</a> All Rights Reserved. <a href="https://civicvision.de/legal" class="text-blue-lighter hover:text-orange no-underline">Legal Information</a>
        </p>

        <p class="mt-4 text-xs">
            All content appearing on this website is proprietary, copyrighted, and owned or licensed by Civic Vision UG. Any unauthorized use of trademarks or content from this website is strictly prohibited. All rights reserved.
        </p>

    </div>

</footer>