<head>

    <link rel="dns-prefetch" href="{{ .Site.BaseURL }}">
    <link rel="preconnect" href="{{ .Site.BaseURL }}" crossorigin>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"><link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:400,700" rel="stylesheet" type="text/css">

    <link rel="preload" href="/css/styles.css" as="style" onload="this.rel='stylesheet'">

</head>