<head>

    <link rel="dns-prefetch" href="{{ .Site.BaseURL }}">
    <link rel="preconnect" href="{{ .Site.BaseURL }}" crossorigin>
    <title>{{ if .IsHome -}} {{ .Site.Title }} {{- else -}} {{ .Title }} – {{ .Site.Title }} {{- end }}</title>
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Heebo|Titillium+Web&display=swap" rel="stylesheet">
    {{ $style := resources.Get "css/styles.css" | resources.PostCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint}}

    <link rel="preload" href="{{ $style.Permalink }}" as="style">
    <link rel="stylesheet" href="{{ $style.Permalink }}" >
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ if isset .Params "external_css" }}
      {{ range index .Params "external_css" }}
        <link href="{{.}}" rel="stylesheet" type="text/css">
      {{ end }}
    {{ end }}

</head>
