<!-- RightMessage -->
<script type="text/javascript"> 
  (function(p, a, n, d, o, b) {
     o = n.createElement('script'); o.type = 'text/javascript'; o.async = true; o.src = 'https://tag.rightmessage.com/'+p+'.js';
     b = n.getElementsByTagName('script')[0]; b.parentNode.insertBefore(o, b);
     d = function(h, u, i) { var o = n.createElement('style'); o.id = 'rmcloak'+i; o.type = 'text/css';
             o.appendChild(n.createTextNode('.rmcloak'+h+'{visibility:hidden}.rmcloak'+u+'{display:none}'));
             b.parentNode.insertBefore(o, b); return o; }; o = d('', '-hidden', ''); d('-stay-invisible', '-stay-hidden', '-stay');
     setTimeout(function() { o.parentNode && o.parentNode.removeChild(o); }, a);
  })('{{ getenv "RIGHTMESSAGE_KEY" }}', 2500, document);
  window.rmExtras = {};
  {{ if gt .Params.tags 0  }}
      window.rmExtras.tags = "{{ delimit .Params.tags ";"  }}";
  {{ end  }}
  var post = {
        id: "{{ .Page.UniqueID  }}",
        categories: [],
        tagId: "{{ .Page.Params.tagId }}",
        categorySlug: "",
        readingTime: {{ .ReadingTime  }}
  };
  {{ if gt .Params.categories 0  }}
      window.rmExtras.categories = "{{ delimit .Params.categories ";"  }}";
      post.categories = "{{ delimit .Params.categories ";"  }}".split(";");
      post.categorySlug = "{{ delimit .Params.categories ","  }}";
  {{ end  }}
  {{ if or (eq .Page.Type "tips") (eq .Page.Type "tutorials" )  }}
      window.readPost(post);
      window.maybeAddTags(post);
  {{ end  }}
  {{ if .ReadingTime  }}
      window.rmExtras.readingTime = {{ .ReadingTime  }};
  {{ end  }}


  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  analytics.load('{{ getenv "SEGMENT_KEY" }}');
  analytics.page();
  }}();
</script>
