<div class="flex flex-col sm:flex-row justify-center pt-12 my-12 sm:my-4 relative">
  <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
    <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
      <div class="p-8 text-3xl font-bold text-center border-b-4">Self-Study</div>
      <ul class="w-full text-center text-sm p-0 list-none">
        <li class="border-b py-4">Access to online-course</li>
        <li class="border-b py-4">4 course projects</li>
        <li class="border-b py-4">&gt; 17 lessons</li>
        <li class="border-b py-4">&gt; 68 excercises</li>
      </ul>
    </div>
    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
      <div class="w-full p-2 text-xs text-left">You will get access to the course website and all course material and go through the course by yourself. </div>
      <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center"><span class="text-base line-through text-red-lighter">$199</span> <span class="">$139</span></div>
      <div class="flex items-center justify-center">
        <a class="mx-auto lg:mx-0 hover:underline gradient font-bold rounded-full my-6 py-4 px-8 shadow-lg" href="https://gum.co/mappingwithd3/pre-launch?wanted=true" target="_blank">Preorder!</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-lg bg-white mt-4 sm:-mt-6 shadow-lg z-10">
    <div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
      <div class="w-full p-8 text-3xl font-bold text-center">Group Study</div>
      <div class="h-1 w-full gradient my-0 py-0 rounded-t"></div>
      <ul class="w-full text-center text-base font-bold p-0 list-none">
        <li class="border-b py-4 px-2">Access to online-course</li>
        <li class="border-b py-4 px-2">4 course projects</li>
        <li class="border-b py-4">&gt; 17 lessons</li>
        <li class="border-b py-4">&gt; 68 excercises</li>
        <li class="border-b py-4 px-2">Weekly accountability emails</li>
        <li class="border-b py-4 px-2">By-weekly group coaching call</li>
        <li class="border-b py-4 px-2">Access to accountability forum and group</li>
      </ul>
    </div>
    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
      <div class="w-full p-2 text-xs text-left">You get access to the course and will be assigned to a group of 5 people. Your group will get access to a special forum where you can discuss your projects and your progress. I will be available as well for questions and help. </div>
      <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center"><span class="text-base line-through text-red-lighter">$450</span> <span class="">$315</span></div>
      <div class="flex items-center justify-center">
        <a class="mx-auto lg:mx-0 hover:underline gradient font-bold rounded-full my-6 py-4 px-8 shadow-lg" href="https://gum.co/mappingwithd3/pre-launch?wanted=true&variant=szbjPmewFjRxXp5hbQg-Jw==" target="_blank">Preorder now!</a>
      </div>
    </div>
  </div>
  <div class="flex flex-col w-5/6 lg:w-1/3 mx-auto lg:mx-0 rounded-none lg:rounded-l-lg bg-white mt-4">
    <div class="flex-1 bg-white text-gray-600 rounded-t rounded-b-none overflow-hidden shadow">
      <div class="p-8 text-3xl font-bold text-center border-b-4">Group Study Pro</div>
      <ul class="w-full text-center text-sm p-0 list-none">
        <li class="border-b py-4">Access to online-course</li>
        <li class="border-b py-4">4 course projects</li>
        <li class="border-b py-4">&gt; 17 lessons</li>
        <li class="border-b py-4">&gt; 68 excercises</li>
        <li class="border-b py-4">Weekly accountability emails</li>
        <li class="border-b py-4">By-weekly group coaching call</li>
        <li class="border-b py-4">Access to accountability forum and group</li>
        <li class="border-b py-4">Lifetime access to updates</li>
        <li class="border-b py-4 font-bold">1x <span class="line-through">30</span> 60 minute call with me</li>
        <li class="border-b py-4">Library of starter projects</li>
        <li class="border-b py-4">Templates (private github repo)</li>
        <li class="border-b py-4">Tip ebook</li>
      </ul>
    </div>
    <div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow p-6">
      <div class="w-full pt-6 text-3xl text-gray-600 font-bold text-center"><span class="text-base line-through text-red-lighter">$999</span> <span class="">$699</span></div>
      <div class="flex items-center justify-center">
        <a class="mx-auto lg:mx-0 hover:underline gradient font-bold rounded-full my-6 py-4 px-8 shadow-lg" href="https://gum.co/mappingwithd3/pre-launch?wanted=true" target="_blank">Preorder!</a>
      </div>
    </div>
  </div>
  <div class="absolute w-32 pin-t -mt-8 -mr-6 pin-r z-10 text-orange">
		{{ partial "money-back" . }}
  </div>
</div>
