@tailwind base;

html, body {
  margin: 0;
  font-family: 'Heebo', 'Lato', sans-serif;
}

.mk ul {
  @apply list-disc pl-4
}

#list h1 {
  @apply my-4 text-4xl font-normal mt-8;
  font-family: 'Heebo', sans-serif;
}

.list-none {
  list-style: none;
}

.post h1 {
  @apply my-4 text-4xl font-normal mt-8;
  font-family: 'Heebo', sans-serif;
}
.post h2 {
  @apply my-4 text-2xl font-normal;
  font-family: 'Heebo', sans-serif;
}
.post h3 {
  @apply my-4 text-xl font-bold;
  font-family: 'Heebo', sans-serif;
}
.post p {
  @apply leading-normal;
}
.post blockquote {
  @apply bg-gray-200 my-2 p-2 leading-normal italic;
}
p strong {
    font-weight: bold;
}
.content h2 {
  @apply mt-8;
}
.content p {
  @apply mb-4;
}

.highlight {
  @apply my-4;
}
.highlight pre {
  @apply p-4 break-words whitespace-pre-wrap;
  word-break: normal;
}
.highlight pre code {
  @apply break-words;
}

.markdown h3 {
  @apply my-2 text-xl font-bold;
}

code {
  background: #fdf6e3;
  padding: 0.1em 0.5em ;
  color: #657b83;
}
.highlight code {
  background: none;
}

.check::before {
    content: "";
    color: #36bf4e;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -2rem;
    width: 2rem;
}

.close {
    top: .5rem;
    right: .5rem;
    width: 1.5rem;
}

.close::before, .close::after {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    height: 1.5rem;
    width: 0.15rem;
    background: #ddd;
    content: "";
    display: block;
    margin: -3px 0 0 -1px;
}

.close::before {
    transform: rotate(-45deg);
}

.close::after {
    transform: rotate(45deg);
}

.square::before {
    content: "";
    color: #25364c;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -2rem;
    width: 2rem;
}

header::after {
    border-top: solid 38px #2b4c7e;
    border-left: solid 42px transparent;
    border-right: solid 42px transparent;
    content: "";
    height: 0;
    margin: 0 auto;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 0;
    z-index: -1;
}

div.rm-area-offer-mwd3 .rm-widget.rm-inline div.rm-title, div.rm-area-offer-mwd3 .rm-widget.rm-inline div.rm-description {
  text-align: left !important;
}
div.rm-area-offer-mwd3 .rm-widget.rm-inline .rm-meat {
  padding: 0 !important;
}
div.rm-area-offer-mwd3 .rm-widget.rm-inline div.rm-title {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  color: theme('colors.gray.700') !important;
}
div.rm-area-offer-mwd3 .rm-widget.rm-inline div.rm-title strong{
  font-weight: 500 !important;
}
div.rm-area-offer-mwd3 .rm-widget.rm-inline div.rm-description {
  font-size: 1.125rem !important;
  line-height: 1.5 !important;
  color: theme('colors.gray.600') !important;
  margin-top: 1rem !important;
  font-weight: 300 !important;
}
div.rm-area-offer-mwd3 .rm-inline .rm-offer-form {
  margin-left: 0 !important;
}

div.rm-area-offer-mwd3 .rm-powered-container{
  display: none !important;
}
/**
div.rm-area-offer-mwd3 .rm-offer-form fieldset {
  display: flex !important;
  flex-direction: row;
  flex-flow: row wrap;
}
div.rm-area-offer-mwd3 .rm-offer-form .rm-input-label {
  width: 37% !important;
  margin: auto !important;
}
div.rm-area-offer-mwd3 .rm-offer-form .rm-button {
  width: 25% !important;
  margin: auto !important;
}
**/
div.rm-area-offer-mwd3 {
}
div.rm-area-offer-mwd3:empty ~ .fallback {
  display: block;
}

@tailwind components;
@tailwind utilities;
